<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="maxPlayers" value="4"/>
        <add key="port" value="9812"/>
        <add key="dataBufferSize" value="4096"/>
    </appSettings>
</configuration>